.category-container {
  margin-left: 10px;
  width: 435px;
}

.event-list {
  display: flex;
  flex-flow: column nowrap;
}

.event-list .title {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 10px;

  font-size: 20px;
  color: #015e53;
  text-transform: capitalize;
  font-weight: bold;
  border-bottom: solid 3px #015e53;
}

.unique-tournament {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  margin-top: 20px;
}

.unique-tournament img {
  height: 50px;
}

.unique-tournament .title {
  margin-left: 10px;

  color: #015e53;
  font-weight: bold;
  border-bottom: solid 2px #afafaf;
}

.event-tile {
  color: black;
  text-decoration: none;
  width: 100%;
}

@media only screen and (max-width: 650px) {
  .category-container {
    width: 94%;
  }
}
